<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp By Nerijus</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/master.css">
    </head>
    <body>
        
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
          <a class="nav-item nav-link" href="/login">Log in <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/register">Sign up</a>
          <% } else { %>
          <a class="nav-item nav-link active"  href="#">Signed as <%= currentUser.username %></a>
          <a class="nav-item nav-link" href="/logout">Log out</a>
          <% } %>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <% if(error && error.length > 0){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
    </div>
    
    <div class="container">
      <% if(success && success.length > 0){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
    </div>

        